.Home {
	color: skyblue;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.ListView {
	width: 40%;
	margin: 0 auto;
}

.SearchBar {
	text-align: left;
}

.PokemonList {
	position: relative;
	text-align: left;
	width: 80%;
	left: 50%;
	transform:  translateX(-50%);
}

.PokemonItem:hover {
	opacity: 0.5;
}

.GalleryItem:hover {
	opacity: 0.5;
}